.card,
.btn,
.form-control {
  border-radius: 0 !important;
}
body {
  background: #121212 !important;
  color: ivory !important;
}
.card {
  background-color: grey;
}
td,
table,
th {
  color: ivory !important;
}
